# Genesis APISIX CI/CD Pipeline
# Apache APISIX API Gateway on Alpine Linux

variables:
  major: 3
  minor: 15
  patch: $[counter(variables['Build.SourceBranchName'], 0)]
  globalPatch: $[counter('globalPatch', 0)]

  # Container Registry Configuration
  ACR_RESOURCE_GROUP: sprintRG
  AZURE_CONTAINER_REGISTRY: sprintregistry
  ACR_ENDPOINT: 'sprintregistry.azurecr.io'

  # Genesis APISIX Configuration
  IMAGE_NAME: 'genesis-apisix'
  DOCKERFILE_PATH: 'docker/debian-dev/Dockerfile'
  APISIX_VERSION: '3.15.0'

trigger:
  branches:
    include:
    - main
    - develop
  paths:
    include:
      - apisix/**
      - conf/**
      - docker/**
      - Makefile
      - apisix-master-0.rockspec
      - .azure-pipelines/genesis-apisix-cicd.yaml
      - .azure-pipelines/templates/*apisix*
      - .azure-pipelines/templates/version.yml

pr:
  branches:
    include:
    - main
    - develop
  paths:
    include:
      - apisix/**
      - conf/**
      - docker/**
      - Makefile
      - apisix-master-0.rockspec
      - .azure-pipelines/genesis-apisix-cicd.yaml
      - .azure-pipelines/templates/*apisix*

stages:
- stage: Version
  displayName: 'Versioning'
  condition: ne(variables['Build.Reason'], 'PullRequest')
  jobs:
  - template: templates/version.yml

- stage: SecurityScan
  displayName: 'Security Vulnerability Scan'
  dependsOn: []
  jobs:
  - job: TrivyScan
    displayName: 'Trivy Security Scan'
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - checkout: self
      submodules: true

    - script: |
        set -e
        echo "===== Building APISIX Image for Security Scan ====="
        docker build -f $(DOCKERFILE_PATH) -t scan-temp:latest .
        
        echo ""
        echo "===== Verifying Image Built Successfully ====="
        docker images | grep scan-temp || (echo "ERROR: Image not found!" && exit 1)
        
        echo ""
        echo "===== Installing Trivy ====="
        curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sudo sh -s -- -b /usr/local/bin
        trivy --version
        
        echo ""
        echo "===== Running Security Vulnerability Scan ====="
        trivy image --scanners vuln --severity CRITICAL,HIGH --pkg-types os --exit-code 1 --format table scan-temp:latest
      displayName: 'Build and Scan APISIX Image'
      continueOnError: false

- stage: Build
  displayName: 'Build Genesis APISIX Image'
  dependsOn: 
    - Version
    - SecurityScan
  condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
  jobs:
  - template: templates/genesis-apisix-build-template.yml
    parameters:
      jobCondition: succeeded()
      CONTAINER_NAME: $(IMAGE_NAME)
      DOCKERFILE_PATH: $(DOCKERFILE_PATH)
      AZURE_CONTAINER_REGISTRY: $(AZURE_CONTAINER_REGISTRY)
      BUILD_ARGS: |
        --build-arg APISIX_VERSION=$(APISIX_VERSION)
